/* normalize 基本样式修正 */
@import("../node_modules/normalize.css/normalize.css");

@font-face {
  font-family: 'iconfont';  /* project id 2305389 */
  src: url('//at.alicdn.com/t/font_2305389_zeb2erqsmem.eot');
  src: url('//at.alicdn.com/t/font_2305389_zeb2erqsmem.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2305389_zeb2erqsmem.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2305389_zeb2erqsmem.woff') format('woff'),
  url('//at.alicdn.com/t/font_2305389_zeb2erqsmem.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2305389_zeb2erqsmem.svg#iconfont') format('svg');
}